*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

main {
    min-height: 100vh;
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clock{
    font-size: 60px;
    letter-spacing: 7px;
    text-shadow: 2px 5px rgba(0,0,0,0.6);
}

.location .city {
    font-size: 32px;
    margin-bottom:5px;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.location .date {
    font-size: 20px;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.current .temp {
    font-size: 60px;
    font-weight:500;
    margin: 30px 0px 0px 0px;
    text-shadow: 2px 5px rgba(0,0,0,0.6);
}

.container{
    position:absolute;
    top:2%;
    right:1%;
    width: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button{
    border-color: #ffffff;
    border-style: solid;
    border-radius:5px;
    width:50px;
    height:50px;
    margin: 5px 10px 5px 10px;
    transition: 0.5s;
}

button:hover{
    opacity:0.5;
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7{
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.bg1, #buttonbg1{
    background-image: linear-gradient(#2980b9, #6dd5fa, #ffffff);
}

.bg2, #buttonbg2{
    background-image: linear-gradient(45deg, #f7797d, #fbd786, #c6ffdd);
}

.bg3, #buttonbg3{
    background-image: linear-gradient(225deg, #fc5c7d, #6a82fb);
}

.bg4, #buttonbg4{
    background-image: linear-gradient(135deg, #3ca55c, #b5ac49);
}

.bg5, #buttonbg5{
    background-image: linear-gradient(#c04848, #480048);
}

.bg6, #buttonbg6{
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.bg7, #buttonbg7{
    background-image: linear-gradient(45deg, #000000 0%, #1b1b1b 74%);
}
